@import url("main.css?timestamp=1178640400");

/** titles **/
#photosets h3 { background-position: 0 -345px; }
#heart_links h3 { background-position:  0 -150px; }
#heart_links h3.monthly { text-indent:0; background-position:  0 -330px; }
#archive_links h3 {background-position: 0 -187px; width: 100px;}



#heart_links span.empty_msg { 
    display:block;
    padding:3px 7px 57px 0;
    background:transparent url("../images/sprites/block_bg.gif?timestamp=1178640400") no-repeat bottom right;
    }
    
/* CSS for archive links */
#archives_sidebar {border-width:0;}
#archive_links ul {padding:0 0 0 2px;}
#archive_links .body {padding-top:3px;}
/*************************/



h3.monthly span {  
    
    text-indent:-200px; 
    font-size:xx-small;
    width:9px;
    display:block;
    float:left;

    }

#photosets h3.monthly .title { width:80px;}
#heart_links h3.monthly .title { width:103px;}

h3.monthly .colon { display: none; }
h3.monthly .divider { display: none; }
h3.monthly .month { margin-top:1px; width:20px; background:transparent url("../images/text/date_text.gif?timestamp=1178640400") no-repeat  0 0; }
h3.monthly .year  { margin-top:1px;  width:18px; background:transparent url("../images/text/date_text.gif?timestamp=1178640400") no-repeat  0 0; }

h3.monthly .month_1   { background-position: 0 -70px;}
h3.monthly .month_2   { background-position: 0 -79px;}
h3.monthly .month_3   { background-position: 0 -88px;}
h3.monthly .month_4   { background-position: 0 -97px;}
h3.monthly .month_5   { background-position: 0 -106px;}
h3.monthly .month_6   { background-position: 0 -115px;}
h3.monthly .month_7   { background-position: 0 -124px;}
h3.monthly .month_8   { background-position: 0 -133px;}
h3.monthly .month_9   { background-position: 0 -142px;}
h3.monthly .month_10   { background-position: 0 -151px;}
h3.monthly .month_11   { background-position: 0 -160px;}
h3.monthly .month_12   { background-position: 0 -169px;}

h3.monthly .year_2006 { background-position: 0 -178px;}
h3.monthly .year_2007 { background-position: 0 -187px;}
h3.monthly .year_2008 { background-position: 0 -196px;}
h3.monthly .year_2009 { background-position: 0 -205px;}

/* CSS for month_nav block */
#month_nav { 
    background-color: #B6BBD1; 
    border:1px solid #000;
    height: 25px;
    }
#month_nav ul { margin: 0; padding:0; display:inline;}

#month_nav ul li {
    margin: 0;
    padding: 0;
    display:block;
    margin: 4px;
}
#previous_archive_date { float:left; }
#next_archive_date { float: right; }
/* CSS for year and month titles */
