@import url("main.css?timestamp=1178640400");
@import url("_photoset_large.css?timestamp=1178640400");


#photosets_for_everyone .body {  padding:0 0 10px 0; background-position: bottom center; }

#photosets_for_everyone .for_shoppers {}

#photosets_for_everyone .for_shoppers .text {padding-left: 10px; padding-right:10px; }

#photosets_for_everyone .for_sellers { display: none;  width:220px;}  
#photosets_for_everyone .for_sellers .text {padding-left: 5px; padding-right:10px; }

#photosets_for_everyone h3 {  display: none; }
#photosets_for_everyone .for_shoppers h4 {
    text-indent: -200px;
    overflow: hidden;
    width: 231px;
    height: 70px;
    display: block;
    background: #EFE4E9 url("../images/sprites/photosets_preview_titles.gif?timestamp=1178640400") no-repeat -1px 10px; 

    }
    
#news_sidebar {
    padding-top: 65px;
    background: transparent url("../images/sprites/stuff_to_delight.jpg?timestamp=1178640400") no-repeat 5px 0;
    }

#container { width: 767px; }
#news_sidebar .block {
    width:291px;
}