/*************************************************************************************/
/***************************** sidebar: blocks ***************************************/
#daily_summary { /**** main sidebar on the left ****/
  width: 100px;
  margin: 5px 0 0 0;
  position: absolute;
  padding-bottom:20px;
  top: 63px;
  left: 6px;
  border-bottom: 1px none;
}

        #latest_sets h3 { background-position: 0 -15px; }
        #latest_sets .body {
            background: #B6BBD1 url("../images/sprites/latest_bg.gif?timestamp=1178640400") repeat-y top left;
            padding: 2px 0 10px 16px;
            border-width: 1px 0 0 0;
        }
        #latest_sets .body .empty { display:block; padding-bottom:400px; padding-right:5px; }
        #latest_sets .body .mediaset_small { width:80px; background: transparent url("../images/sprites/sidebar_preview_bg.gif?timestamp=1178640400") no-repeat 1px 6px; }
        #latest_sets .body .mediaset_small .title { padding: 0 9px 0 0; }
        
        
        #newsfeeds { border-bottom: 1px solid #000 ;}
        #newsfeeds h3 { background-position: 0 -90px; }
/*************************************************************************************/
        
        
/*************************************************************************************************/
/************ news_sidebar ************/
#news_sidebar {
	float: left;
	margin-top:-65px;
	padding-left:5px;
	font-size:8pt;
} 

    #news_sidebar .block {
        width:229px;
    }
    
#archive_links_sidebar .body ul { margin: 0; padding: 0; }
#archive_links_sidebar .body ul li { margin: 0; padding: 0; list-style:none; padding-bottom:2px; }
#archive_links_sidebar .body ul li a {font-size:9pt;}

#upcoming_heart_links .heart_link { padding-bottom: 6px; }
#upcoming_heart_links .body { padding-bottom: 5px; }

#about_website .body p { margin:0; margin-bottom:4px;}
#heart_link_categories .body ul,
#heart_link_categories .body li {
    margin:0;
    padding:0;
}
#heart_link_categories .body li {list-style:none; padding-bottom:3px;}
#heart_link_categories .body li a {font-size:9pt;}

.favorite_link {padding-bottom:7px;}

/* titles */
#archive_links_sidebar h3 {background-position:0 -495px;}
#about_website h3 { background-position: 0 -90px; }
#contact_website h3 { background-position: 0 -75px; }
#favorite_links h3 { background-position: 0 -60px;}
#upcoming_heart_links h3 { background-position: 0 -45px;}
#email_subscribe h3 { background-position: 0 -855px; }
#advanced_users h3 { background-position: 0 -30px; }
#search_website h3 { background-position: 0 -315px; }
#heart_link_categories h3 { background-position: 0 -555px; }
/*************************************************************************************************/
