@import url("main.css?timestamp=1178640400");
@import url("admin_sidebar.css?timestamp=1178640400");
#container_hack { padding-bottom: 60px; } /* extra bottom padding needed because of the high height of edit_heart_link block */
#header, #site_menu { margin-right:200px; }


#admin_sidebar {
 float:left;
 width:100px;
}
/* sidebar titles */
#admin_add h3 { background-position: 0 -35px;  }
#admin_stats h3 { background-position: 0 -52px;  }
#admin_clear_cache h3 { 
    background-image: url("../images/text/sidebar_titles_admin.gif?timestamp=1178640400"); 
    background-position: 0 -90px; 
    }
#pending h3 { 
    background-image: url("../images/text/sidebar_titles_admin.gif?timestamp=1178640400"); 
    background-position: 0 -105px; 
    }
#upcoming h3 { 
    background-image: url("../images/text/sidebar_titles_admin.gif?timestamp=1178640400"); 
    background-position: 0 -120px; 
    }   
/* titles */
#add_site_preference h3 { background-position: 0 -135px; }
#add_folder h3 { background-position: 0 -105px; }
#add_article h3 { background-position: 0 -120px; }
#add_mediaset h3 { background-position: 0 -150px; }
#add_member h3 { background-position: 0 -90px; }
#articles_list h3 { background-position: 0 -60px; }
#search h3 {background-position: 0 -315px; }
#add_heart_link h3 { background-position: 0 -75px; }
#upload_file h3  { background-position:0 -15px;}

/* main_column */
#main_column {   width: 365px; }
#main_column .block {margin-left:6px; margin-right:6px; }
#main_column .block .body .fld_title input { width:260px;}

#add_heart_link div.textarea[title="teaser"] {height:120px;} 


/* add blocks */
#add_folder,
#add_article,
#add_site_preference,
#add_member, 
#add_mediaset,
#upload_file {
  	display:none;
}



#edit_site_preference .fld_title input { width:240px;}
#edit_heart_link {background-position: 0 200px;} 
#edit_heart_link .loading { padding-top: 50%; padding-bottom: 50%; }
/* handle special case for edit_heart_link because of the height.  the left position is dependent
on the value set in show_edit_block defined on the page */
/** styles for TEXTAREA **/ 
#text_editor { width: 340px; border-right-width: 0px; z-index: 26;}
textarea {height: 300px; width: 300px;  }