@import url("main.css?timestamp=1178640400");
@import url("_photoset_large.css?timestamp=1178640400");
#header { width:756px;  }
#site_menu { width:756px; }
#container {width: 767px;}

#main_column   {width: 756px;}

/** titles **/
#notes h3 {background-position:0 -154px;}
#rate_this_item h3 {background-position:0 -137px;}
#photoset h3 { width: auto; background:transparent url("../images/text/photoset_title_long.gif?timestamp=1178640400") no-repeat 0 0; }
#photos h3 {background-position:0 -585px;}

/********************************************/

#photoset .body {padding:10px 0 12px 10px; background-color:#FFFFCC; background-image:none;}
#photoset { margin-bottom: 6px; padding-bottom:9px; background:transparent url("../images/text/block_title_long_bottom.gif?timestamp=1178640400") no-repeat bottom left;}

#photoset .large_preview {float:left; margin-right:10px;}
#photoset .info {float:left;   width:290px;}
#photoset .info h4 { font-size: large; font-family:serif; }
#photoset .info .set_body {text-align:left; padding:10px 0;}
#photoset .info .start_slideshow a {
    display:block; 
    font-size:xx-small; 
    width:102px;
    height:16px; 
    text-indent:-200px; 
    overflow:hidden; 
    margin:0 90px 0 97px; 
    background:transparent url("../images/text/start_slideshow_button_link.gif?timestamp=1178640400") no-repeat 0 0;
    }
#photoset .info .start_slideshow a:hover {
    background:transparent url("../images/text/start_slideshow_button_link.gif?timestamp=1178640400") no-repeat -102px 0;
    }
    

#photos {width:650px; float:left;}
#photos .body {padding:0 0 12px 0;}
#photos .photo {float:left; text-align:center; padding: 10px 0 2px 10px; }
#photos .photo a {text-decoration:none;}
#photos .photo a img {border-width:1px;}
#photos .photo a span {text-decoration:underline;}

#photoset_sidebar { float:right; width:100px; font-size:8pt;}
    #notes h4 {font-size:8pt; color:#323750}
    #notes .published_on {padding-top:5px;padding-bottom:7px;}
    #notes .published_on .datetime {text-align:right;}
    #notes .set_notes { padding-top:7px; background:transparent url("../images/sprites/sidebar_divider.gif?timestamp=1178640400") no-repeat top center;}

    #rate_this_item .body {padding-top:4px;}
