@import url("main.css?timestamp=1178640400");

#heart_links h3 { background-position: 0 -15px; }
#heart_links span.empty { display:block; padding:5px 0 50px 0;}
#heart_links.by_category h3 { background-position: 0 -540px; }