body { background:#638FA0; padding:0 0 0 50%; }

h1{
  padding:0;
  margin:0;

  width:260px;
  height:254px;

  background:transparent url("../images/sprites/splash_logo.png?timestamp=1178640400") no-repeat;
  margin-left:-130px;
  margin-top:17%;
}

h1 span {display:none;}

p{ display:none; }

