/***********************************************************************************/
/**************************** block - most content goes here ***********************/
.block {
  padding-bottom: 5px;
}

.block h3 {
  width: 149px;
  height: 14px;

  background: transparent url("../images/text/block_titles.gif?timestamp=9062007") no-repeat 0 0;
  
  overflow:hidden;
  font-size: x-small;
  font-weight:normal;
  margin: 0;
  padding:0;
  text-indent: -300px;
  border-right: 1px solid #000;
}
.block .body {
  border: 1px solid #000000;
  background: #EFE4E9 url("../images/sprites/block_bg.gif?timestamp=1178640400") no-repeat bottom right;
  padding: 2px 5px 10px 6px;
  margin: 0;
}


.block .body dl,
.block .body dt,
.block .body dd {
  margin: 0;
  padding:0;
}


/******************************** end block **************************************/

/************************************************************************************/
/********************* sidebar classes **********************************************/
.sidebar {
  border-top: 1px solid #000;
  padding-bottom:5px;
}
  .sidebar .block { 
    padding: 0; 
	margin:0; 
	background-image: none; 
    border-width: 0;
  }
  
  .sidebar .block h3 {
    background-image: url("../images/text/sidebar_titles.gif?timestamp=1178640400");
    background-repeat: no-repeat;
    height:14px;
    width: auto;
    font-size:x-small;
    overflow:hidden;
  }


  .sidebar .block .body {
    background-color: #B6BBD1 ;
    padding: 0 5px 5px 5px;
    background-image:none;
	border:1px solid #000;
  }
  
  .sidebar .block .body ul {
    margin:0;
    padding:0;

  }
  .sidebar .block .body ul li {
    list-style: none;
    margin:0;
    padding:0;
  }
  
  .sidebar .block .body .preview_small {float:none;padding-top:5px;}
  
  #results_sidebar  { 
    border:0;
    }
    
        #errors h3 { height: 14px; background: transparent url("../images/text/sidebar_titles.gif?timestamp=1178640400") no-repeat 0 -68px; width: 100px; } 
        #errors .body {
          color:#FF0000;
          padding:3px 6px;
        }
        #success h3 { height: 14px; background: transparent url("../images/text/sidebar_titles.gif?timestamp=1178640400") no-repeat 0 -85px; width: 100px; } 
        #success .body {
          background-color:  #FFFAA8;
          padding: 3px 6px;
        }
/************************* end sidebar classes ************************************/


/*********************************************************************************/
/************ DIVs that hold preview images for heart links **********************/
img.left { float: left; margin: 3px 3px 0 0; border:1px solid #734459;}
img.right { float: right; margin: 3px  0 0 3px; border:1px solid #734459;}
img.no_border {border-width:0; }
div.img_center { text-align: center; }
div.img_center img {border:1px solid #734459;  }
/** Clearing float fix from: http://www.positioniseverything.net/easyclearing.html **/
.body:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.body {
  display: inline-block;
}

/* Hides from IE-mac \*/
* html .body {height: 1%;}

.body {display: block;}
/* End hide from IE-mac */
/********************************* end clearing float fix *****************************/
