.block h3 {background-image:url("../images/text/block_titles_admin.gif?timestamp=1178640400");}

/* secondary column */
#secondary_column { 
    float: left;
    margin: -65px 0 0 0;

    }
#secondary_column .block  { width:227px; }
/*********************/

#site_preferences .body ul { margin:0; padding:0; }
#site_preferences .body ul li { list-style:none; }
#site_preferences .body ul li span { display:block;}
#site_preferences .body ul li .title { font-weight: bold;}


/* titles */
#site_preferences h3 {background-position: 0 -45px;}
#recent_files h3 { background-position:0 -30px;}
#recent_mediasets h3 {background-position:0 -195px;}
#upcoming_mediasets h3 {background-position: 0 -165px;}
#non_active_mediasets h3 {background-position: 0 -180px;}
#upcoming_heart_links h3 { background-position: 0 -210px; }
#non_active_heart_links h3 { background-position: 0 -225px; }
#latest_members h3 { background-position: 0 -240px; }

#recent_files .recent_files { padding: 0 0 10px 0;}
#recent_files .body{ padding-bottom:0;}
#recent_files .empty_msg{ padding-bottom:0;}


