@import url("main.css?timestamp=1178640400");

form {text-align:right;}
#heart_link_nav h3 {display:none;}
#heart_link_nav .body {border-top:0; height:13px; padding-top:3px;}
#heart_link_nav .previous_heart_link {float:left;}
#heart_link_nav .next_heart_link {float:right;}

#heart_link h3 {
    text-indent:0; 
    border-width:0;
    background: transparent none;
    width:auto;  
    height:auto;
    padding: 3px 5px 0 5px;  
    border:1px solid #000;
    border-width:1px 1px 0 1px;
    background-color:#EFE4E9;
    font-size:12pt;
    font-weight:bold;
    font-family:serif;
    }
#heart_link .body {
    border-top-width:0;
    }
#heart_link .datetime { padding-top:10px;text-align:right;}
#heart_link .edit {text-align:right;}
#heart_link .categories {text-align: right; }


#comments h3 {background-position:0 -450px;}
#comments .body {background-image:none;}
#comments .comment {
    background: transparent url("../images/sprites/block_bg.gif?timestamp=1178640400") no-repeat bottom right;
    padding: 4px 5px 10px 3px;
}

#comments .comment .text {padding-bottom:10px;}
#comments .comment .info span.datetime,
#comments .comment .info span.posted_by {
    display:block;
    text-align:right;
}
#post_comment h3 {background-position: 0 -765px;}
#comments .member_comment {
    border:1px solid #CCA8BA; 
    background:#fff url("../images/sprites/registered_member_bg.gif?timestamp=1178640400") no-repeat bottom right;
    padding-left:5px;
    padding-bottom: 14px;
    margin-top:4px;
    }
#comments .active { }
#comments .legality {background-color: #A03246;}
#comments .censored {background-color: #ADD8E6;}
#comments .deleted {background-color:  #808080;}

/** Clearing float fix from: http://www.positioniseverything.net/easyclearing.html **/
.heart_link_body:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.heart_link_body {display: inline-block;}

/* Hides from IE-mac \*/
* html .heart_link_body {height: 1%;}
.heart_link_body {display: block;}
/* End hide from IE-mac */
/********************************* end clearing float fix *****************************/
