@import url("main.css?timestamp=1178640400");

#container { width:471px;}
#header, #site_menu {
  width: 459px; 
}

#main_column .block {
    width: 320px;
    margin:0 auto; 
}
#login h3 {
  background:transparent url("../images/text/block_titles_long.gif?timestamp=1178640400") no-repeat 0px -30px;
  width:auto; 
}
#login .body { 
  text-align:center; 
  padding-top:8px; 
  padding-bottom:8px; 
  background-color:#ffc; 
  background-image:none; 
}
.fld_title {
  height:18px;
}
.fld_title .title { 

  padding:0;
  margin:0;
  width:89px; 
  text-align:right; 

}
.fld_title input {
  float:left;
}

#register h3 {
  background: transparent url("../images/text/block_titles_long.gif?timestamp=1178640400") no-repeat 0px -45px; 
  width:auto;
}

.form_title {
  padding-top:10px;
  font-weight:bold;
}