@import url("_base.css?timestamp=1178640400");

h3 { font-size:9pt; padding-top: 5px; }
h4 { font-size:8pt; padding-bottom: 5px; }
    

    
#container { 
    background:transparent none; 
    width: auto;
    border-width:0;
}
    	
#photo {
    padding:25px  0 10px 0;
    margin:auto;
}
    #photo .body {
        background-color: #EFE4E9; 
        border:1px solid #000;
        padding: 0 0 20px 0;
        margin:auto;
    }
    #photo .body img { 
        margin:10px;
        border:1px solid #000 ;
    }


#brought_to_you_by {
  text-align:center;
  margin:auto;
  width:245px;
  height:65px;

}
    #brought_to_you_by h3  { display:none; }
    #brought_to_you_by .body a span {display:none;}
    #brought_to_you_by .body a {
        display:block;
        width:244px;
        height:64px;
        background:transparent url("../images/sprites/brought_to_you_by.gif?timestamp=1178640400") no-repeat top center;
    }


.nav_photo { 
    background-color:#BCC4D5; 
    border:1px solid #000; 
    border-width: 1px 1px 0 1px;  
    width:350px;
    margin: auto;
}

    .nav_photo ul {
      border: 1px solid #FFFFCC;
      border-width: 1px 0 0 1px;
      margin: 0;
      padding: 2px 0 0 0;
	  height:17px;
	  display:block;
    }
    
    .nav_photo ul li {
      display: block;
      float:   left;
      margin:0;     
      list-style:none;
    }
    
    
        
        .nav_photo ul li a {
          display: block;
          height:  13px;
        }
            .nav_photo ul li a span {display:none;}

        .previous_photo { padding: 0 0 0 10px; margin-right:63px;}
            .previous_photo a { width:68px; background: transparent url("../images/text/photo_page_nav_menu.gif?timestamp=1178640400") no-repeat 0 0; }
            .previous_photo a:hover { background: transparent url("../images/text/photo_page_nav_menu.gif?timestamp=1178640400") no-repeat 0 -13px; }
        
        
        .back_to_photoset { padding: 0 0 0 63px; }
            .back_to_photoset a { width:71px; background: transparent url("../images/text/photo_page_nav_menu.gif?timestamp=1178640400") no-repeat -68px 0; }
            .back_to_photoset a:hover { background: transparent url("../images/text/photo_page_nav_menu.gif?timestamp=1178640400") no-repeat -68px -13px; }
        
        .start_photo .back_to_photoset { padding:0 0 0 141px;}
        
        .next_photo { padding:0 0 0 56px;  }
            .next_photo a { width:68px; background: transparent url("../images/text/photo_page_nav_menu.gif?timestamp=1178640400") no-repeat -139px 0; }
            .next_photo a:hover { background: transparent url("../images/text/photo_page_nav_menu.gif?timestamp=1178640400") no-repeat -139px -13px; }
        


    