#site_menu ul {margin-left:120px;}

#site_menu #site_admin  { margin-left: 37px; margin-right:2px; }

#site_menu #site_admin a {
	width: 35px;
	background-position: -93px -13px;
}

#site_menu  #site_admin a:hover, 
#site_menu #site_admin.selected a { 
    background-position:-93px 0px; 
}


#site_menu #site_logout {margin-left:0;padding-left:0;}
