@import url("main.css?timestamp=1178");
@import url("_photoset_large.css?timestamp=1178640400");
#container { width: 851px; }
#news_sidebar .block {
    width:230px;
}


.heart_links .body { padding-bottom:1px; }
.heart_links .heart_link { padding-bottom:15px; }

/* titles */
#photoset.random h3 {background-image:url("../images/text/spotlight_title.gif?timestamp=1178640400");}
#photoset.random .body .datetime { display:none; }
#photoset h4 { font-size:14pt; font-family:serif;}
#photoset.preview .set_body {display:none;}
#heart_links h3 { background-position: 0 -810px; }
#recent_link h3 { width:auto;  background-image: url("../images/text/block_titles_long.gif?timestamp=1178640400"); background-position:0 -15px;}
#apply h3 { background-position: 0 -120px; }
#upcoming_sets h3      { background-position: 0 -45px; }
#legend h3 {  background-position: 0 -15px; }
#hearts_list .block  h3 {background-position:0 -150px; }
#latest_heart_links h3 { background-position:0 -540px; }
#random_heart_link h3 { background-position: 0 -840px; }
/* end titles */

#nav_column { 
    float: left;
	margin-top:-65px;
	padding-left:5px;
}
    #nav_column .block {
        width:140px;
    }
    

    
    #nav_column .block h3 { width:auto; }
    
    #advanced_users h3 {display:none;}
    #advanced_users .body {
        padding: 7px 0 7px 55px;
        background-image: none;
    }
    
    #advanced_users .body a {
        display: block;
        text-indent:-200px;
        overflow: hidden;
        width: 24px;
        height: 24px;
        background:transparent url("../images/sprites/advanced_uses_rss.gif?timestamp=1178640400") no-repeat 0 0;
    }
    #advanced_users .body a:hover {
        background-position: -24px 0;
    }
    
    #about_website .body {
        font-size: 8pt;
    }
    
    .favorite_link .text {
        font-size: 8pt;
    }
    
#latest_heart_links .heart_link { padding-bottom: 15px; }
#latest_heart_links .heart_link .text { padding-bottom:10px; }
#latest_heart_links .heart_link .permalink { text-align: left; }

#goodbye_msg { 
    background-color: #FCFCFC; 
    border: 1px solid #000000; 
    padding: 10px; 
    margin-bottom: 6px ;
}

#copyright {
  background: transparent url("../images/text/copyright.gif?timestamp=1178640400") no-repeat top center;
  height:61px;
  padding:0;
}
	#copyright h3,
	#copyright .body {
	  display:none;
	}

    /**
#news_sidebar {
    padding-top: 65px;
    background: transparent url("../images/sprites/stuff_to_delight.jpg?timestamp=1178640400") no-repeat 5px 0;
    } 
    **/


